## Constants

In [1]:
TRAIN_VALID = '../data/processed/TrainValid_proc.csv'
EXPORT_PATH = '../data/processed/TrainValid_clean.csv'

## Import Tools

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

## Read the data

In [3]:
df = pd.read_csv(TRAIN_VALID)
df.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,...,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,saleYear,saleMonth,saleDay,saleDayOfWeek,saleDayOfYear
0,1139246,66000.0,999089,3157,121,3.0,2004,68.0,Low,521D,...,NaN,NaN,NaN,Standard,Conventional,2006,11,16,3,320
1,1139248,57000.0,117657,77,121,3.0,1996,4640.0,Low,950FII,...,NaN,NaN,NaN,Standard,Conventional,2004,3,26,4,86
2,1139249,10000.0,434808,7009,121,3.0,2001,2838.0,High,226,...,NaN,NaN,NaN,NaN,NaN,2004,2,26,3,57
3,1139251,38500.0,1026470,332,121,3.0,2001,3486.0,High,PC120-6E,...,NaN,NaN,NaN,NaN,NaN,2011,5,19,3,139
4,1139253,11000.0,1057373,17311,121,3.0,2007,722.0,Medium,S175,...,NaN,NaN,NaN,NaN,NaN,2009,7,23,3,204

In [4]:
# Get the ration on nulls in each column
(df.isnull().sum()/len(df)).sort_values(ascending=False)

Blade_Width                 0.937041
Engine_Horsepower           0.937041
Tip_Control                 0.937041
Pushblock                   0.937041
Blade_Extension             0.937041
Enclosure_Type              0.937041
Scarifier                   0.937014
Hydraulics_Flow             0.891264
Grouser_Tracks              0.891264
Coupler_System              0.891024
fiModelSeries               0.857845
Steering_Controls           0.826697
Differential_Type           0.826595
UsageBand                   0.821492
fiModelDescriptor           0.818715
Backhoe_Mounting            0.804428
Stick                       0.803498
Turbocharged                0.803498
Pad_Type                    0.803498
Blade_Type                  0.801610
Travel_Controls             0.801606
Tire_Size                   0.763415
Track_Type                  0.752378
Grouser_Type                0.752378
Stick_Length                0.752213
Pattern_Changer             0.752213
Thumb                       0.752041
Undercarriage_Pad_Width     0.750626
Ripper                      0.740864
Drive_System                0.740520
MachineHoursCurrentMeter    0.642586
Ride_Control                0.629928
Transmission                0.544444
ProductSize                 0.524851
Forks                       0.520921
Coupler                     0.465277
fiSecondaryDesc             0.340993
Hydraulics                  0.200062
auctioneerID                0.048791
Enclosure                   0.000809
saleYear                    0.000000
saleMonth                   0.000000
saleDay                     0.000000
saleDayOfWeek               0.000000
SalesID                     0.000000
SalePrice                   0.000000
ProductGroupDesc            0.000000
ProductGroup                0.000000
state                       0.000000
fiProductClassDesc          0.000000
fiBaseModel                 0.000000
fiModelDesc                 0.000000
YearMade                    0.000000
datasource                  0.000000
ModelID                     0.000000
MachineID                   0.000000
saleDayOfYear               0.000000
dtype: float64

## Take a copy of original data

In [5]:
df_copy = df.copy()

## Seperating numerical and categorical data

In [6]:
df_num = df_copy.select_dtypes(exclude='object')
df_cat = df_copy.select_dtypes(include='object')

### Start by cleaning numerical data

In [8]:
df_num.isnull().sum()

SalesID                          0
SalePrice                        0
MachineID                        0
ModelID                          0
datasource                       0
auctioneerID                 20136
YearMade                         0
MachineHoursCurrentMeter    265194
saleYear                         0
saleMonth                        0
saleDay                          0
saleDayOfWeek                    0
saleDayOfYear                    0
dtype: int64

In [14]:
df_num['auctioneerID'].value_counts()

1.0     192773
2.0      57441
3.0      30288
4.0      20877
99.0     12042
6.0      11950
7.0       7847
8.0       7419
5.0       7002
10.0      5876
9.0       4764
11.0      3823
12.0      3610
13.0      3068
18.0      2359
14.0      2277
20.0      2238
19.0      2074
16.0      1807
15.0      1742
21.0      1601
22.0      1429
24.0      1357
23.0      1322
17.0      1275
27.0      1150
25.0       959
28.0       860
26.0       796
0.0        536
Name: auctioneerID, dtype: int64

In [13]:
df_num['MachineHoursCurrentMeter'].value_counts()

0.0        73834
2000.0       124
1000.0       117
24.0         115
1500.0       101
           ...
21107.0        1
17333.0        1
22868.0        1
13808.0        1
14650.0        1
Name: MachineHoursCurrentMeter, Length: 15633, dtype: int64

### Filling them with the median

In [15]:
df_num['auctioneerID'].fillna(df_num['auctioneerID'].median(), inplace=True)
df_num['MachineHoursCurrentMeter'].fillna(df_num['MachineHoursCurrentMeter'].median(), inplace=True)

In [16]:
df_num.isnull().sum()

SalesID                     0
SalePrice                   0
MachineID                   0
ModelID                     0
datasource                  0
auctioneerID                0
YearMade                    0
MachineHoursCurrentMeter    0
saleYear                    0
saleMonth                   0
saleDay                     0
saleDayOfWeek               0
saleDayOfYear               0
dtype: int64

## Dealing with categorical data

In [18]:
(df_cat.isnull().sum() / len(df_cat)).sort_values(ascending=False)

Engine_Horsepower          0.937041
Blade_Extension            0.937041
Tip_Control                0.937041
Pushblock                  0.937041
Enclosure_Type             0.937041
Blade_Width                0.937041
Scarifier                  0.937014
Hydraulics_Flow            0.891264
Grouser_Tracks             0.891264
Coupler_System             0.891024
fiModelSeries              0.857845
Steering_Controls          0.826697
Differential_Type          0.826595
UsageBand                  0.821492
fiModelDescriptor          0.818715
Backhoe_Mounting           0.804428
Pad_Type                   0.803498
Stick                      0.803498
Turbocharged               0.803498
Blade_Type                 0.801610
Travel_Controls            0.801606
Tire_Size                  0.763415
Track_Type                 0.752378
Grouser_Type               0.752378
Pattern_Changer            0.752213
Stick_Length               0.752213
Thumb                      0.752041
Undercarriage_Pad_Width    0.750626
Ripper                     0.740864
Drive_System               0.740520
Ride_Control               0.629928
Transmission               0.544444
ProductSize                0.524851
Forks                      0.520921
Coupler                    0.465277
fiSecondaryDesc            0.340993
Hydraulics                 0.200062
Enclosure                  0.000809
fiBaseModel                0.000000
ProductGroupDesc           0.000000
ProductGroup               0.000000
fiProductClassDesc         0.000000
state                      0.000000
fiModelDesc                0.000000
dtype: float64

### Filling the missing categorical values

In [21]:
pd.Categorical(df_cat['Engine_Horsepower']).codes

# Null or missing values in categorical format = -1
# What will we do is rising it to 0

array([-1, -1, -1, ..., -1, -1, -1], dtype=int8)

In [22]:
for col in df_cat.columns:
    df_cat[col] = pd.Categorical(df_cat[col]).codes + 1

In [23]:
pd.Categorical(df_cat['Engine_Horsepower']).codes

array([0, 0, 0, ..., 0, 0, 0], dtype=int8)

In [24]:
(df_cat.isnull().sum() / len(df_cat)).sort_values(ascending=False)

UsageBand                  0.0
fiModelDesc                0.0
Pushblock                  0.0
Ripper                     0.0
Scarifier                  0.0
Tip_Control                0.0
Tire_Size                  0.0
Coupler                    0.0
Coupler_System             0.0
Grouser_Tracks             0.0
Hydraulics_Flow            0.0
Track_Type                 0.0
Undercarriage_Pad_Width    0.0
Stick_Length               0.0
Thumb                      0.0
Pattern_Changer            0.0
Grouser_Type               0.0
Backhoe_Mounting           0.0
Blade_Type                 0.0
Travel_Controls            0.0
Differential_Type          0.0
Hydraulics                 0.0
Engine_Horsepower          0.0
Enclosure_Type             0.0
ProductGroupDesc           0.0
fiBaseModel                0.0
fiSecondaryDesc            0.0
fiModelSeries              0.0
fiModelDescriptor          0.0
ProductSize                0.0
fiProductClassDesc         0.0
state                      0.0
ProductGroup               0.0
Drive_System               0.0
Blade_Width                0.0
Enclosure                  0.0
Forks                      0.0
Pad_Type                   0.0
Ride_Control               0.0
Stick                      0.0
Transmission               0.0
Turbocharged               0.0
Blade_Extension            0.0
Steering_Controls          0.0
dtype: float64

## Save the cleaned data set

In [25]:
final_df = pd.concat([df_num, df_cat], axis=1)
final_df.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,saleYear,saleMonth,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000.0,999089,3157,121,3.0,2004,68.0,2006,11,...,0,0,0,0,0,0,0,0,4,2
1,1139248,57000.0,117657,77,121,3.0,1996,4640.0,2004,3,...,0,0,0,0,0,0,0,0,4,2
2,1139249,10000.0,434808,7009,121,3.0,2001,2838.0,2004,2,...,0,0,0,0,0,0,0,0,0,0
3,1139251,38500.0,1026470,332,121,3.0,2001,3486.0,2011,5,...,0,0,0,0,0,0,0,0,0,0
4,1139253,11000.0,1057373,17311,121,3.0,2007,722.0,2009,7,...,0,0,0,0,0,0,0,0,0,0

In [26]:
final_df.to_csv(EXPORT_PATH, index=False)